<footer class="footer">
  <small>
    Desarrollado con <a href="http://rubyonrails.org/">Ruby on Rails</a> por <a href="http://ropherpanama.github.io/">Rosendo Peña</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Jira",   'https://jira.indra.es/secure/Dashboard.jspa', :target => "_blank" %></li>
      <li><%= link_to "Indraweb", 'https://access.indraweb.net/vpn/tmindex.html', :target => "_blank" %></li>
    </ul>
  </nav>
</footer>